
.new
{
    font-family: Arial;
    font-size: 20px;
    background-color: #f0f0f0;
    color:rgb(0, 0, 0);
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
}

.subscribe-button
{
    color: white;
    background-color: red;
    border: none;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    cursor: pointer
}

.join-button
{
    color: rgb(25, 0, 255);
    background-color: rgb(255, 255, 255);
    border-color: rgb(25, 0, 255);
    padding: 8px 20px;
    text-align: center;
    font-weight: bold;
    border: 2px solid;
    border-radius: 5px;
    cursor: pointer;
}